<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ムラクモサイト - トップページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>ようこそ、ムラクモサイトへ！</h1>

<nav>
    <ul>
        <li><a th:href="@{/}">ホーム</a></li>
        <li><a th:href="@{/contact}">お問い合わせ</a></li>
<!--        <li><a th:href="@{/gallery}">画像ギャラリー</a></li>-->
<!--        <li><a th:href="@{/login}">管理者ログイン</a></li>-->
    </ul>
</nav>

<section>
    <h2>最新のお知らせ</h2>
    <ul>
        <li>
            <h3>最新動画公開！</h3>
            <p>ムラクモさんの新曲「〇〇〇〇」がYouTubeに登場！</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2jPNSF1Zkf4?si=ZQjMqlfX-Vf3aY-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <small>2025-06-05 21:00</small>
        </li>
    </ul>
</section>
</body>
</html>
